@import url('https://fonts.googleapis.com/css?family=Lora|Roboto:400,400i,500,500i');
@import "module/mixins";
body {
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	line-height: 1.6;
}

h1, h2, h3 {
	font-family: 'Lora', serif;
	line-height: 1.2;
}

h1 {
	@include h1;
}
h2 {
	@include h2;
}
h3 {
	@include h3;
}
p {
	margin-bottom: 1em;
	@media (max-width: 767px) {
		font-size: .9em;
	}
}
.quote {
	font-style: italic;
	font-family: 'Lora', serif;
	font-size: 24px;
	@media (min-width: 960px) {
		font-size: 28px;
	}
}
.connections{
	.quote {
		@media (min-width: 768px) {
			font-size: 30px;
		}
		@media (min-width: 960px) {
			font-size: 36px;
		}
	}
}
a {
	text-decoration: none;
}
.book-now {
	@include book-now;
}

#footer {
	div {
		a, p {
			font-size: 18px;
		}
	}
}